@font-face {
  font-family: 'Source Code Pro';
  src: url("../../fonts/SourceCodePro-Regular.woff2") format("woff2"), url("../../fonts/SourceCodePro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Menlo Bold';
  src: url("../../fonts/Menlo-Bold.woff2") format("woff2"), url("../../fonts/Menlo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@-webkit-keyframes intervalLoadingAnimation {
  0% {
    border-width: 10px;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1; }
  100% {
    border-width: 2px;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

@keyframes intervalLoadingAnimation {
  0% {
    border-width: 10px;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1; }
  100% {
    border-width: 2px;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

@-webkit-keyframes item-1_move {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  25% {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0); }
  50% {
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%); }
  75% {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%); } }

@keyframes item-1_move {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  25% {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0); }
  50% {
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%); }
  75% {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%); } }

@-webkit-keyframes item-2_move {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  25% {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%); }
  50% {
    -webkit-transform: translate(-100%, 100%);
    transform: translate(-100%, 100%); }
  75% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0); } }

@keyframes item-2_move {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  25% {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%); }
  50% {
    -webkit-transform: translate(-100%, 100%);
    transform: translate(-100%, 100%); }
  75% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0); } }

@-webkit-keyframes item-3_move {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  25% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0); }
  50% {
    -webkit-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%); }
  75% {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%); } }

@keyframes item-3_move {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  25% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0); }
  50% {
    -webkit-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%); }
  75% {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%); } }

@-webkit-keyframes item-4_move {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  25% {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%); }
  50% {
    -webkit-transform: translate(100%, -100%);
    transform: translate(100%, -100%); }
  75% {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0); } }

@keyframes item-4_move {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  25% {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%); }
  50% {
    -webkit-transform: translate(100%, -100%);
    transform: translate(100%, -100%); }
  75% {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0); } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; }

html,
body {
  height: 100%; }

input, button, textarea {
  border: none;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

ul {
  list-style: none; }

a {
  font-size: inherit;
  color: inherit;
  text-decoration: none; }
  a:focus, a:visited {
    outline: none; }

body {
  background-color: #0D121F;
  color: #fff;
  font-family: 'Source Code Pro', Sans-Serif;
  font-size: 18px; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  overflow: hidden; }

.t {
  outline: 1px solid tomato; }

.tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  overflow: auto;
  padding: 2%; }
  .tile__wrapper {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    overflow: auto; }
    @media screen and (min-width: 1240px) {
      .tile__wrapper {
        max-width: 760px; } }
    @media screen and (min-width: 1560px) {
      .tile__wrapper {
        max-width: 1000px; } }
    @media screen and (min-width: 1880px) {
      .tile__wrapper {
        max-width: 1240px; } }
  .tile__item {
    position: relative;
    width: calc(100% / 2); }
    @media screen and (min-width: 1240px) {
      .tile__item {
        width: calc(100% / 3); } }
    @media screen and (min-width: 1560px) {
      .tile__item {
        width: calc(100% / 4); } }
    @media screen and (min-width: 1880px) {
      .tile__item {
        width: calc(100% / 5); } }

.aside {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: calc(100vw - 660px);
  max-width: 700px;
  min-width: 600px;
  background-color: #181D2D; }
  .aside__default {
    height: 100%;
    padding: 16vh 10% 5vh; }
  .aside__logo {
    margin-bottom: 7vh; }
  .aside__title {
    color: #56BE89;
    font-family: 'Menlo Bold', Sans-Serif;
    font-size: 48px;
    margin-bottom: 3vh; }
  .aside__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 140%; }
  .aside__svg {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 122px;
    width: 132px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .aside__svg svg {
      width: 100%;
      height: 100%; }
    .aside__svg:hover {
      width: 230px;
      height: 212.5px; }

.preloader__wrapper {
  width: 80%;
  padding-bottom: 71.1%;
  margin: 10%;
  border: 2px solid transparent;
  border-radius: 5%;
  background-color: #181D2D;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .preloader__wrapper:hover {
    border-color: #56BE89; }
  .preloader__wrapper--active {
    border-color: #56BE89;
    -webkit-box-shadow: 0px 4px 10px rgba(104, 219, 164, 0.25);
    box-shadow: 0px 4px 10px rgba(104, 219, 164, 0.25); }

.preloader1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -44px 0 0 -44px;
  width: 88px;
  height: 88px; }
  .preloader1::before {
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  .preloader1::before, .preloader1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 88px;
    height: 88px;
    border: 2px solid #5B76FF;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation-name: intervalLoadingAnimation;
    animation-name: intervalLoadingAnimation;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

.preloader2 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }
  .preloader2 .preloader__child {
    width: 50%;
    height: 50%;
    position: absolute; }
    .preloader2 .preloader__child--1 {
      background-color: #68DBA4;
      top: 0;
      left: 0;
      z-index: 1;
      -webkit-animation: item-1_move 5s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
      animation: item-1_move 5s cubic-bezier(0.6, 0.01, 0.4, 1) infinite; }
    .preloader2 .preloader__child--2 {
      background-color: #5B76FF;
      top: 0;
      right: 0;
      -webkit-animation: item-2_move 5s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
      animation: item-2_move 5s cubic-bezier(0.6, 0.01, 0.4, 1) infinite; }
    .preloader2 .preloader__child--3 {
      background-color: #F7FE72;
      bottom: 0;
      right: 0;
      z-index: 1;
      -webkit-animation: item-3_move 5s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
      animation: item-3_move 5s cubic-bezier(0.6, 0.01, 0.4, 1) infinite; }
    .preloader2 .preloader__child--4 {
      background-color: #F58FDF;
      bottom: 0;
      left: 0;
      -webkit-animation: item-4_move 5s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
      animation: item-4_move 5s cubic-bezier(0.6, 0.01, 0.4, 1) infinite; }
