@font-face {
  font-family: 'Source Code Pro';
  src: url("../../fonts/SourceCodePro-Regular.woff2") format("woff2"), url("../../fonts/SourceCodePro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Menlo Bold';
  src: url("../../fonts/Menlo-Bold.woff2") format("woff2"), url("../../fonts/Menlo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; }

input, button, textarea {
  border: none;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

ul {
  list-style: none; }

a {
  font-size: inherit;
  color: inherit;
  text-decoration: none; }
  a:focus, a:visited {
    outline: none; }

body {
  background-color: #090C15;
  color: #fff;
  font-family: 'Source Code Pro', Sans-Serif;
  font-size: 18px; }

<<<<<<< HEAD
.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 620px; } }
  @media screen and (min-width: 1024px) {
    .container {
      max-width: 840px; } }
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1060px; } }
  @media screen and (min-width: 1480px) {
    .container {
      max-width: 1280px; } }
  @media screen and (min-width: 1760px) {
    .container {
      max-width: 1500px; } }
  @media screen and (min-width: 2024px) {
    .container {
      max-width: 1720px; } }
  @media screen and (min-width: 2440px) {
    .container {
      max-width: 1940px; } }
  @media screen and (min-width: 2560px) {
    .container {
      max-width: 2160px; } }
  @media screen and (min-width: 2800px) {
    .container {
      max-width: 2380px; } }

.header {
  padding: 6vh 0 4vh; }
=======
.main {
  padding: 0 10vh;
  margin: 0 -2%; }

.header {
  padding: 6vh 10vh 4vh; }
>>>>>>> cb2497f7df879bd2ce056cde15414d6b0af6ef30
  .header__title {
    color: #56BE89;
    font-family: 'Menlo Bold', Sans-Serif;
    font-size: 48px;
    margin-bottom: 0.5em; }
  .header__subtitle {
    font-size: 18px;
    font-weight: 400; }

.tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
<<<<<<< HEAD
  flex-wrap: wrap;
  margin: 0 -20px; }
  .tile__item {
    width: 180px;
    height: 160px;
    margin: 20px; }

.preloader {
  width: 100%;
  height: 100%;
=======
  flex-wrap: wrap; }
  .tile__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: calc(100% / 6);
    padding-bottom: calc(90% / 6); }

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
>>>>>>> cb2497f7df879bd2ce056cde15414d6b0af6ef30
  border-radius: 5%;
  background-color: #181D2D; }
